# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

#config
config.yml

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
uploads/00de6ca9fde0823eb6b3ab91deb90e55
uploads/1f18226e595878b527bfabedef48e114
uploads/20f25c7eff8267095d47978403d9b6cb
uploads/9afa4f956b9db868b4d912d9cbbd3c02
